<div class="container">
    <div class="text-right">
        <p style="font-size: 35px; " class="fw-semibold">Oteller</p>
        <p style="font-size: 20px;" class="fw-light">Pair-3'ün sunduğu Balayı Otelleri’nden Antalya Otelleri’ne kadar farklı özelliklere sahip yüzlerce 
        tesisten biri sizin aradığınız özelliklere sahip olabilir. Tatil denildiğinde ilk akla gelen çoğu zaman konforlu bir otel olur. Farklı zevklere ve 
        ilgi alanlarına göre hizmetler sunan bu oteller, hem her bütçeye uygun fiyatları hem de bulundukları bölge itibariyle oldukça değişik seçenekler 
        sunarlar.</p>
    </div>
</div>
